<footer>
    <a href="https://www.linkedin.com/in/darcanjoo/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
    <a href="https://github.com/darcanj0" target="_blank"><i class="fa-brands fa-github"></i></a>
    <span>|</span>
    <span>All rights reserved<i class="fa-solid fa-copyright"></i></span>
</footer>