<section class="search">
    <form action="/search" method="post">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        <input type="text" name="movie" placeholder=" Search by movie name" style="font-family: franchise;">
    </form>
</section>