*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: 'franchise';
    src: url("../fonts/Franchise.ttf");
}

body{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    font-family: 'franchise', Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #f26457f1;
    background-image: url("../img/white_carbonfiber.png");
    background-blend-mode: multiply;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

header h1 {
    font-size: 3rem;
}

header img#iconLeft{
    margin-left: 1rem;
    float: left;
}

header img#iconRight{
    transform: rotate(180deg);
    margin-right: 1rem;
    float: right;
}

main{
    min-height: 87%;
    max-width: 100% ;
    background-color: #273A73c1;
    background-image: url("../img/textured_paper.png");
    background-repeat: repeat;
    background-blend-mode: color-burn;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main nav{
    background-color: #f26457f1;
    background-image: url("../img/white_carbonfiber.png");
    background-repeat: repeat;
    background-blend-mode: multiply;
    width: 60%;
    border-radius: 0px 0px 1rem 1rem;
    margin-bottom: .3rem;
    box-shadow: 0px 5px 5px black;
}

main nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    padding: .3rem;
}

main nav ul a {
    color: black;
    text-decoration: none;
    justify-content: center;

    transition: all .2s ease-out;
}

main nav ul a:hover{
    transform: scale(1.3, 0.75);
}

main div.films-container{
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
    gap: .75rem;
    justify-content: center;
}

main div.films-container a{
    color: black;
    text-decoration: none;
}

main div.films-container article.film-card{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 360px;
    border: 2px black solid;
    background-color: #f2e8d5;
    background-image: url("../img/paper_3.png");
    background-blend-mode: multiply;
    box-shadow: 5px 5px 1rem black;

    transition: all .2s ease-in-out;
}

main div.films-container article.film-card div#image-box{
    max-width: 100%;
    height: 87%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

main article.film-card div#image-box img{
    height: 95%;
    border: 2px black solid;
}

main article.film-card div#card-info{
    max-width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

main article.film-card div#card-info span#movie-name{
    font-size: x-large;
    margin-bottom: .2rem;
}

main a article.film-card:hover{
    box-shadow: 10px 10px 1rem black;
    transform: scale(1.05);
}

main div.card-icons{
    padding: .2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    background-color: #d3c9b7;
    border: 2px black solid;
    border-radius: 1rem;
}

main div.card-icons a{
    transition: all .2s ease-in;
}

main div.card-icons a:hover{
    transform: scale(1.3, 0.75);
}

main div#info-card{
    width: 90%;
    min-height: 90%;
    background-color: #f2e8d5;
    background-image: url("../img/paper_3.png");
    background-blend-mode: multiply;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main div#info-card h2{
    font-size: 400%;
    padding: 1rem;
}

main div#info-card div.iframe-frame{
    position: relative;
    overflow: hidden;
    width: 95%;
    max-height: 300px;
    padding-top: 56.25%;
    margin-bottom: 1rem;
}

main div#info-card div.iframe-frame iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

main div#info-card table{
    width: 80%;
    margin: .5rem;
    text-align: center;
    font-size: x-large;
}

main div#info-card table th{
    padding: 1rem;
}

main div#info-card table tr:nth-child(even){
    background-color: #d3c9b7;
}

main section#form-container{
    width: 80%;
    margin: 2rem;
    border: 3px black solid;
    background-color: #d3c9b7;
    background-image: url("../img/paper_3.png");
    background-blend-mode: multiply;
    text-align: center;
    box-shadow: 5px 5px 1rem black;
}

main section#form-container legend{
    margin: 1rem;
    font-size: xx-large;
}

main section#form-container form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main section#form-container form label{
    color: black;
    font-size: x-large;
}

main section#form-container form input{
    background-image: url("../img/paper_3.png");
    background-blend-mode: multiply;
    font-family: 'franchise';
    margin: 1rem;
    font-weight: bolder;
    color: black;
    font-size: large;
    letter-spacing: .1rem;
}

main section#form-container form button{
    font-family: 'franchise';
    width: 30%;
    align-self: center;
    margin: 1rem;
    font-size: x-large;
    border: 2px solid black;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px black;

    cursor: pointer;
    transition: all .2s ease-out;
}

main section#form-container form button:hover{
    background-color: #f26457f1;
}

footer{
    background-color: #f26457f1;
    background-image: url("../img/white_carbonfiber.png");
    background-blend-mode: multiply;
    height: 5%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    padding: 0px 2rem;
}

footer a {
    text-decoration: none;
    color: black;

    transition: all .2s ease-out; 
}

footer a:hover{
    transform: scale(1.3, 0.75);
}

@media (max-height: 850px){
    header img{
        height: 50px;
    }
}

@media (max-width: 570px){
    main div#info-card h2{
        font-size: 200%;
    }
}